@font-face {
    font-family: 'nashvill';
    src: url('fonts/nashvill.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/desert_background/desert.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'nashvill', arial, sans-serif;
}

h1 {
    color: rgb(51, 6, 6);
    text-align: center;
    font-size: clamp(1rem, 0.2143rem + 3.9286vw, 3.75rem);
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.2);
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}